body {
  background-color: lightblue;
  margin: 0;
}
.center {
  text-align: center;
}
.centerbig {
  text-align: center;
  size: 20%;
}
.black {
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
}