body {
  background-color: lightblue;
  margin: 0;
  font-family: 'Dosis';
  font-size: 20px;
}
.center {
  text-align: center;
}
.centerbig {
  text-align: center;
  font-size: 150%;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
}
.black {
  background-color: gray;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.right {
  position: absolute;
  right:0%;
  width:20%;
}
