body {
  background-color: lightblue;
  margin: 0;
  font-family: 'Dosis';
  font-size: 20px;
}
img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.center {
  text-align: center;
}
.centerbig {
  text-align: center;
  font-size: 150%;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
}
.black {
  background-color: gray;
  position: absolute;
  bottom: -20%;
  width: 100%;
}
.right {
  position: absolute;
  right:0%;
  width:20%;
}
.piccontainer {
  position: relative;
}
.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 10px;
}
